.cover_next_back_in {
    justify-content: flex-end;
    margin: 10px 0;
    /* position: absolute;
    right: 0;
    top: 0; */
    display: flex;
    /* width: fit-content; */
    gap: 0.625rem;
}


.cover_next,.cover_back {
    cursor: pointer;
    width: 2.875rem;
    height: 2.875rem;
}
.cover_next>img,.cover_back>img{
    width: 2.875rem;
    height: 2.875rem;
}