.wrapper{
    margin: 5em 0;
    display: flex;
    gap: 20px;
    .account_slide{
        display: flex;
        flex-direction: column;
        gap: 20px;
        ul{
            margin-left: 10px;
            li:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
        
    }

}
.account_form{
    padding: 40px 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 10px;
    .form_input{
            background-color: #f1f3f4;
           
    }
}
@media screen  and (max-width:600px){
    .wrapper{
        margin: 2em 0;
       flex-direction: column;
       .account_slide{
            flex-direction: row;
            justify-content: space-evenly;
            ul{
                margin-left: 5px !important;
                
                
            }
            
       }
    
    }
    
}